---
layout: default
title: Streamdata.io API Gallery - Reddit Subscribe
---

{% assign listing_object = site.listings %}
{% assign tag_slug = "subscribe" %}

<div class="shortMasthead">
  <h1 class="shortMasthead__headlin">{{ page.title }}</h1>
  <div style="width: 100%;">
    <div style="width: 75%; margin: 0 auto;">
      <br ><p>This is a working prototype to demonstrate how APIs can be turned into streaming topical subscriptions, using an <a href="http://openapis.org/">OpenAPI</a> to define topical searches for Reddit, and allowing user to subscribe to and begin streaming each search from <a href="https://www.reddit.com/dev/api/">the Reddit API</a>. Next we'll add the ability to OAuth with Reddit to increase the number of API calls you can make, as well as OAuth with Githb and then save the stream to a Github repository, while also handling multiple streams.</p><br />
    </div>
  </div>
</div>

<section class="taggedLinkCards">

   {% include api-subscribe.html %}

</section>
<div class="submitApi__overflowContainer" data-submit-api="">
   <div class="submitApi submitApi--left-hand-image">

     {% include api-listing-submit.html %}

   </div>
</div>

<div class="shortMasthead ">
  <div style="width: 100%;">
    <div style="width: 75%; margin: 0 auto;">
      <br ><p><a href="https://github.com/streamdata-subscribe/subscribe-reddit">This project is open source and available on Github</a>. If you have any questions, or come across that doesn't work, or have any ideas about features that we should add, <a href="https://github.com/streamdata-subscribe/subscribe-reddit/issues">submit an issue on Github</a>. We are working to add other features in the near future so make sure and return often or contact us about how we can help.</p><br />
    </div>
  </div>
</div>
