<h1 class="shortMasthead__headline enterAnimation enterAnimation--active" data-enter-animation="">{{ page.title }}</h1>
<div style="width: 100%;">
  <div style="width: 75%; margin: 0 auto;">
  <br ><p>This is a working prototype to demonstrate how APIs can be turned into streaming topical subscriptions, using OpenAPI to define topical searches for Reddit, and allowing user to subscribe to and begin streaming each search from the Reddit API. Next we'll add the ability to OAuth with each provider, as well as OAuth with Githb and then save the stream to a Github repository, while also handling multiple streams.</p><br />
